@font-face{
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/static/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'Morgan';
    src: url('fonts/Mogra/Mogra-Regular.ttf');
}
@font-face {
    font-family: 'Fruktur';
    src: url('../fonts/Fruktur/Fruktur-Regular.ttf');
}
@font-face {
    font-family: 'Caligrafiti';
    src: url('../fonts/Calligraffitti/Calligraffitti-Regular.ttf');
}
@font-face {
    font-family: 'Genos';
    src: url('../fonts/Genos/Genos-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Amatic';
    src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf');
}
:root{
    --black:#000000;
    --white:#FFFFFF;
    --brown-dark:rgb(158, 18, 18);
    --text-input-field:#ded0d0b7;
    --hospital-yellow:rgb(231, 231, 36);
    --pink-alice:rgb(248, 206, 213);
    --purple-violet:rgb(69, 1, 69);
    --sm:14px;
    --md:16px;
    --lg:18px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url("../Assets/img/background.jpg");
}
.main-container{
  width: 100%;
  margin: 0 auto;

}
/* ################################################################################################################################## */
/* HEADER-NAV */
.main-container .back{
  width: 100%;
  height: 25vh;
  padding: 22px 0;
  background-image: url("../Assets/img/backimg-Carnicos.jpg");
  background-size: cover;
  max-width: 100%;
  justify-content: space-between;
  background-position: center;
  background-position-y: center;
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid var(--white);
  border-radius: 0 0 20% 20%;
  box-shadow: -5px 5px 9px 9px var(--black);
  position: fixed;
  z-index: 100;
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}
.main-container .logo .headerlogo{
  width: 250px;
  background-color: transparent;
  border-bottom: 1px solid white ;
  box-shadow: -5px 5px 9px 9px var(--black);
  border-radius: 95% 95% 10% 10%;

}
.main-container .logo1 .logoresponsive{
  display: none;
  width: 250px;
  background-color: transparent;
  border-bottom: 1px solid white ;
  box-shadow: -5px 5px 9px 9px var(--black);
  border-radius: 95% 95% 10% 10%;

}
.main-container .logo h1{
  display: none;
  margin-top: 1px;
  font-size: 35px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  background-color: var(--brown-dark);
  border: 1px solid var(--white);
  border-radius: 20px 20px 15px 15px;
  box-shadow: -5px 5px 5px 5px var(--black);
}
.main-container .logo h2{
  display:none;
  font-size: 16px;
  color: var(--white);
}
.menu .navbar h1 {
  margin-top: 20px;
  font-size: 50px;
  color: var(--white);
  text-shadow: -3px 4px 1px var(--black);
  background-color: var(--brown-dark);
  border: 1px solid var(--white);
  border-radius: 20px 20px 15px 15px;
  box-shadow: -5px 5px 5px 5px var(--black);
}
.menu .navbar h2{;
    font-size:19px;
    color: var(--white);
    text-shadow: -0.8px 0.8px var(--brown-dark);
}
.menu .navbar ul li{
  position: relative;
  float: left;
  
}
.menu .navbar ul li a{
  display: block;
  transition: 1.01s;
  font-size: 18px;
  padding: 5px;
  color: var(--white);
  margin:15px ;
}
.menu ul li a:hover {
  
  font-size: 18px;
  border: 0.5px solid var(--brown-dark);
  background-color: var(--white);
  color: var(--brown-dark);
  box-shadow: -5px 5px 9px 9px var(--black);
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
#menu{display: none;}
.menu-icono{width: 25px;}
.menu label{
  cursor: pointer;
  display: none;
}
@media (max-width: 1050px){
  .menu{
    padding: 30px;
  }
  .menu label{
    display: initial;
  }
 .main-container .back{
    padding: 40px 0;
    height: 25vh;
  }
  .menu .logo h1{
    display: block;
    text-shadow: -3px 3px var(--black);
  }
  .menu .logo h2{
    display: block;
    text-shadow: -2px 1px var(--brown-dark);
  }
  .logo1 h1,h2{
    display: none;
  }
  .menu .logo1 .logoresponsive{
    display:inline-block;
    margin-top: 25px;
  }
  .menu .logo .headerlogo{
    display: none;
  }
  .menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-image: none;
    background:linear-gradient(
      90deg,
      rgba(94,67,11,10)25%,
      rgba(207,103,95,74)73%
    );
  }
    .menu .navbar ul li{
      width: 100%;
    }
    #menu:checked ~ .navbar{
      display: initial;
      border: 1px solid var(--white);
      box-shadow: -5px 5px 9px 9px var(--black);
      border-radius: 5%;
    }

  }
/* ################################################################################### */
/* SLIDER */
/* Estilos por defecto para tamaños de pantalla grandes */
.slider-box {
  width: 95%;
  height: 55vh;
  margin:auto;
  margin-bottom: 100px;
  overflow: hidden;
  border-radius: 2%;
  border: 1px solid var(--white);
  box-shadow: -5px 5px 9px 9px var(--black);
  position: relative; /* Agregamos posicionamiento relativo al contenedor principal */
  top: 300px;
  margin-bottom: 450px;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 300%;
  height: 70vh;
  animation: slide 5s infinite alternate ease-in-out;
}

.slider-box li {
  object-fit: cover;
  list-style: none;
  position: absolute;
  margin-top:5px;
}
.catalogo {
  width: 100%;
  position: absolute;
  top: 50%; 
}
.catalogo h3 {
  font-display: fixed;
  font-family: 'Fruktur';
  color: var(--brown-dark);
  margin-bottom: 5px;
  font-size: 7vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  text-shadow: -4px 0px 1px var(--black);
  position: absolute;
  top: -150px;
  left: 550px;
}

.catalogo h4 {
  font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  font-weight: bold;
  font-family: 'Caligrafiti';
  text-shadow: -4px 0px 1px var(--white);
  color: var(--black);
  position: absolute;
  top: -98px;
  left: 650px;
}
@media only screen and (max-width: 1024px) {
  .slider-box {
    width: 90%;
    height: 49vh;
  }
  .slider-box li {
    object-fit: cover;
    list-style: none;
    position: absolute;
    margin-top: 40px;
  }

  .catalogo h3{
    font-size: 7vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--black);
    position: absolute;
    top: -130px;
    left: 355px;
  }
  .catalogo h4{
    font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--white);
    position: absolute;
    top: -85px;
    left: 440px;
  }
}

/* Estilos para tamaños de pantalla medianos */
@media only screen and (max-width: 810px) {
  .slider-box {
    width: 90%;
    height: 50vh;
  }
  .slider-box li {
    object-fit: cover;
    list-style: none;
    position: absolute;
    margin-top: 80px;
  }

  .catalogo h3{
    font-size: 9vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--black);
    position: absolute;
    top: -122px;
    left: 155px;
  }
  .catalogo h4{
    font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--white);
    position: absolute;
    top: -80px;
    left: 285px;
  }
}

/* Estilos para tamaños de pantalla pequeños (como dispositivos móviles) */
@media only screen and (max-width: 550px) {
  .slider-box {
    width: 95%;
    height: 43vh;
  }
  .slider-box li {
    object-fit: cover;
    list-style: none;
    position: absolute;
    margin-top: 80px;
  }
  .catalogo h3{
    font-size: 10vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--black);
    position: absolute;
    top: -105px;
    left: 155px;
  }
  .catalogo h4{
    font-size: 7vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -2px 0px 1px var(--white);
    position: absolute;
    top: -75px;
    left: 225px;
  }
}
.orden {
  width: 100%;
  position: absolute;
  top: 50%; 
}
.orden h3 {
  font-display: fixed;
  font-family: 'Amatic';
  color: var(--brown-dark);
  margin-bottom: 5px;
  font-size: 9vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  text-shadow: -4px 0px 1px var(--black);
  position: absolute;
  top: -140px;
  left: 90px;
}

.orden h4 {
  font-size: 4vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  font-weight: bold;
  font-family: 'Amatic';
  text-shadow: -1px 2px 1px var(--white);
  color: var(--black);
  position: absolute;
  top: -20px;
  left: 100px;
}
.secondary-button{
  display: grid;
  color: brown;
  background: transparent;
  backdrop-filter: blur(25px);
  border-radius: 8px;
  border:0.5px solid var(--white);
  box-shadow: -1px 1px 5px 5px var(--black);
  width: 15%;
  height: 50px;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  z-index: 15;
  margin-left: 90px;
  margin-top: 50px;
}
.secondary-button:hover{
  background-color: rgb(223, 206, 131);
  color: var(--brown-dark);
  text-shadow: -1px 1px 2px var(--black);
  border: none;
  box-shadow: none;
}
@media only screen and (max-width: 1024px) {
  .slider-box {
    width: 90%;
    height: 49vh;
  }
  .slider-box li {
    object-fit: cover;
    list-style: none;
    position: absolute;
    margin-top: 40px;
  }

  .orden h3{
    font-size:11vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--black);
    position: absolute;
    top: -100px;
    left: 26px;
  }
  .orden h4{
    font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--white);
    position: absolute;
    top: -5px;
    left: 40px;
  }
  .secondary-button{
    width: 20%;
    position: absolute;
    left: -55px;
  }
}

/* Estilos para tamaños de pantalla medianos */
@media only screen and (max-width: 810px) {
  .slider-box {
    width: 90%;
    height: 50vh;
  }
  .slider-box li {
    object-fit: cover;
    list-style: none;
    position: absolute;
    margin-top: 80px;
  }

  .orden h3{
    font-size: 13vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--black);
    position: absolute;
    top: -80px;
    left: 26px;
  }
  .orden h4{
    font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -1px 3px 1px var(--white);
    position: absolute;
    top: 2px;
    left: 40px;
  }
  .secondary-button{
    width: 25%;
    position: absolute;
    left: -60px;
  }
}

/* Estilos para tamaños de pantalla pequeños (como dispositivos móviles) */
@media only screen and (max-width: 550px) {
  .slider-box {
    width: 95%;
    height: 43vh;
  }
  .slider-box .container-order {
    list-style: none;
  }
  .order h3{
    font-size: 15vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--black);
    position: absolute;
    top: -80px;
    left: 15px;
  }
  .order h4{
    font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -1px 0px 1px var(--white);
    position: absolute;
    top: 6px;
    left: 26px;
  }
  .secondary-button{
    width: 35%;
    position: absolute;
    left: -75px;
  }
}
.us {
  width: 100%;
  position: absolute;
  top: 50%; 
}
.us h3 {
  font-display: fixed;
  font-family: 'Amatic';
  color: var(--brown-dark);
  margin-bottom: 5px;
  font-size: 10vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  text-shadow: -4px 0px 1px var(--black);
  position: absolute;
  top: -155px;
  left: 80px;
}

.us h4 {
  font-size: 4vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  font-weight: bold;
  font-family: 'Amatic';
  text-shadow: -1px 2px 1px var(--brown-dark);
  color: var(--white);
  position: absolute;
  top: -30px;
  left: 140px;
}
.us p{
  font-size: 1.5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  padding: 5px;
  margin: 80px 50px 0;
  position: absolute;
  text-align: justify;
  color: var(--white);
  text-shadow: -1px 1px var(--black);
  background: transparent;
  backdrop-filter: blur(25px);
  border-radius: 8px;
  border:0.5px solid var(--white);
  box-shadow: -1px 1px 5px 5px var(--black);
  top: -30px;
}
@media only screen and (max-width: 1024px) {
  .slider-box {
    width: 90%;
    height: 49vh;
  }
  .slider-box li {
    object-fit: cover;
    list-style: none;
    position: absolute;
    margin-top: 40px;
  }

  .us h3{
    font-size:7vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--white);
    position: absolute;
    top: -160px;
    left: 15px;
  }
  .us h4{
    font-size: 3vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--brown-dark);
    position: absolute;
    top: -70px;
    left: 56px;
  }
  .us p{
    font-size: 2vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    padding: 5px;
    margin: 20px 50px 0;
    position: absolute;
    text-align: justify;
    color: var(--white);
    text-shadow: -1px 1px var(--black);
    background: transparent;
    backdrop-filter: blur(25px);
    border-radius: 8px;
    border:0.5px solid var(--white);
    box-shadow: -1px 1px 5px 5px var(--black);
    top: -50px;
  }
}

/* Estilos para tamaños de pantalla medianos */
@media only screen and (max-width: 810px) {
  .slider-box {
    width: 90%;
    height: 50vh;
  }
  .slider-box li {
    object-fit: cover;
    list-style: none;
    position: absolute;
    margin-top: 80px;
  }

  .us h3{
    font-size: 12vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -4px 0px 1px var(--white);
    position: absolute;
    top: -180px;
    left: 15px;
  }
  .us h4{
    font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -1px 3px 1px var(--brown-dark);
    position: absolute;
    top: -106px;
    left: 56px;
  }
  .us p{
    font-size: 2vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    padding: 5px;
    margin: 20px 50px 0;
    position: absolute;
    text-align: justify;
    color: var(--white);
    text-shadow: -1px 1px var(--black);
    background: transparent;
    backdrop-filter: blur(25px);
    border-radius: 8px;
    border:0.5px solid var(--white);
    box-shadow: -1px 1px 5px 5px var(--black);
    top: -50px;
  }
}

/* Estilos para tamaños de pantalla pequeños (como dispositivos móviles) */
@media only screen and (max-width: 550px) {
  .slider-box {
    width: 95%;
    height: 43vh;
  }
  .slider-box .container-order {
    list-style: none;
    margin-bottom: 80px;
  }
  .us h3{
    font-size: 15vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -1px 2px 1px var(--white);
    position: absolute;
    top: -180px;
    left: 15px;
  }
  .us h4{
    font-size: 5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    text-shadow: -1px 0px 1px var(--brown-dark);
    position: absolute;
    top: -106px;
    left: 56px;
  }
  .us p{
    font-size: 2vw; /* Tamaño de fuente relativo al ancho de la pantalla */
    padding: 5px;
    margin: 20px 50px 0;
    position: absolute;
    text-align: justify;
    color: var(--white);
    text-shadow: -1px 1px var(--black);
    background: transparent;
    backdrop-filter: blur(25px);
    border-radius: 8px;
    border:0.5px solid var(--white);
    box-shadow: -1px 1px 5px 5px var(--black);
    top: -50px;
  }
}

.slider-box img{
  width: 100%;
  height: 100%;
}
.slider-box li{
  width:100%;
  object-fit: cover;
  list-style: none;
  position: relative;
  top: -90px;
  left: 5%1;
}
@keyframes slide{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -200%;}
  100%{margin-left: -200%;}
}
/*###########################################################################################*/
/*Titulo Cards*/
h2 .title-cards{
  font-size: 3vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  text-align: center;
  color: var(--white);
  text-shadow: -1px 1px var(--black);
  background: transparent;
  backdrop-filter: blur(25px);
  border-radius: 8px;
  border:0.5px solid var(--white);
  box-shadow: -1px 1px 5px 5px var(--black);
}

/* ######################################################################################### */
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px); /* repeat(#column requeridas, tamaño cada column) */
    gap: 20px;
    place-content: center; /* Centra todo el contenido */
}
.product-card{
    width: 240px;
}
.product-card img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; /* Imagen obtiene tamaño realindepenientemente del width y height */
    border: 1px solid var(--white);
    box-shadow: -5px 5px 9px 9px var(--black);
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    color: var(--white);
}
.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}


/* Configuración del pie de página */
.footer {
  background-image: url(../Assets/img/backfoot.jpg);
  background-position: center;
  background-position-y: 1250px;
  background-position-x: center;
  color: var(--white);
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer .footlogo {
  width: 250px;
  background-color: transparent;
  border-bottom: 1px solid white;
  box-shadow: -5px 5px 9px 9px var(--black);
  border-radius: 95% 95% 10% 10%;
}

.footer img {
  width: 50px;
  height: auto;
}

.footer aside {
  flex: 1;
  padding: 0 10px;
  max-width: 300px; /* Ajusta según sea necesario */
}
.digital{
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .footer{
    background-position: center;
    background-position-y: 750px;
  }
  .footer-content {
      flex-direction: column;
  }
  .footer aside {
      max-width: 100%;
      margin-bottom: 20px;
  }
  
  .copyr{
    width: 100%;

  }
  
}

